.channelsContainer {
  padding: 20px;
}

.channelsTable {
  width: 100%;
  border-collapse: collapse;
}

.channelsTable th, .channelsTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.channelsTable th {
  background-color: #bfbfbf; /* Серый цвет для заголовков */
}

a {
  color: blue;
  text-decoration: underline;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.acceptButton {
  background-color: green;
  color: white;
}

.acceptButton:hover {
  background-color: #45a049; /* Более светлый зеленый при наведении */
}

.declineButton {
  background-color: red;
  color: white;
}

.declineButton:hover {
  background-color: #d63031; /* Более светлый красный при наведении */
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


