.userContainer {
    padding: 20px;
}
  
.userInfo {
    margin-bottom: 20px;
}
  
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
  
.tabs button {
    padding: 15px 30px;
    background-color: #333333;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

  
.activeTab {
    background-color: #ffffff;
    font-weight: bold;
    transform: scale(1.15); /* Увеличение размера */
    transition: transform 0.3s, background-color 0.3s;
}
  
.channelsTable {
    width: 100%;
    border-collapse: collapse;
}
  
.channelsTable th, .channelsTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
  
.channelsTable th {
    background-color: #bfbfbf; /* Серый цвет для заголовков */
}
  
a {
    color: blue;
    text-decoration: underline;
}
  